body {
  margin: 0;
}
input{
  height: 20px;
  border-radius: 3px;
  outline: none;
  padding: 5px;
}
button{
  height: 34px;
  border-radius: 3px;
  width: 100px;
}
button:disabled,
button[disabled]{
  cursor: not-allowed;
}
